html {
    font-family: 'Carter One', cursive;
    background: #eedad2;
}

.main-iziduko {
    text-align: center;
    font-size: 1rem;
    border: #40bbc7 solid 6px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    color: #ff6347;
    background: #e0ffff;
}

.main-iziduko p {
    padding: 0;
    margin: 0;
    color: #a239a2;
}
