html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background: #eedad2;
    /* margin: 0;
    padding: 0; */
    line-height: 1.3;
}

.main-iziduko {
    font-family: 'Carter One', cursive;
    text-align: center;
    font-size: 1rem;
    border: #40bbc7 solid 6px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    color: #ff6347;
    background: #e0ffff;
    position: fixed;
    top: 0;
    right: 12px;
    left: 12px;
}

.main-iziduko p {
    color: #a239a2;
}
